%h2 Webブックの詳細ページ
.card.mb-3
  .card-title
    %h2= @page.title
  .card-body
    %p= markdown(@page.content)
    - if @page.page_number == 1
      = image_tag @webbook.image.variant(resize_to_fit: [500, 500]) if @webbook.image.attached?
